@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --white: #fff;
  --light: #D0D6F9;
  --dark: #0B0D17;
}

body {
  max-width: 375px;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  margin: auto;
}

.root {
  background-image: url('/assets/crew/bg-image-mabile.jpg');
  padding: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  .logo {
    width: 40px;
    height: 40px;
  }
}

.container {

  h3 {
    font-family: Barlow Condensed;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: 2.7px;
    text-align: center;
    color: var(--white);
    margin-bottom: 32px;

    span {
      font-family: Barlow Condensed;
      margin-right: 18px;
      font-weight: 700;
      font-size: 16px;
      line-height: 19.2px;
      letter-spacing: 2.7px;
      color: #ffffff40;
    }
  }

  img {
    margin: auto;
    margin-bottom: 32px;
  }

  .tabs {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 0;

    li {
      list-style: none;

      a {
        font-weight: 500;
        font-size: 9.2px;
        text-decoration: none;
        color: #ffffff2c;
        position: relative;
      }
    }
  }

  .active {
    display: block;
    color: var(--white) !important;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 32px !important;
  }

  .active::before {
    font-size: 15px;
    content: "🤪";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 32px !important;
  }

  .role {
    font-family: Bellefair;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.34px;
    text-align: center;
    color: rgba(255, 255, 255, 49.51%);
    margin-bottom: 8px;
  }

  .name {
    font-family: Bellefair;
    font-weight: 400;
    font-size: 24px;
    line-height: 27.5px;
    text-align: center;    
    color: var(--white);
    margin-bottom: 16px;
  }

  .bio {
    font-family: Barlow;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;    
    color: var(--light);
    margin-bottom: 104px;
  }

}