@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --white: #fff;
  --light: #D0D6F9;
  --dark: #0B0D17;
}

body {
  max-width: 375px;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  margin: auto;
}

.root {
  background-image: url('/assets/destination/bg-image-mabile.jpg');
  padding: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  .logo {
    width: 40px;
    height: 40px;
  }
}

.container {

  h3 {
    font-family: Barlow Condensed;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: 2.7px;
    text-align: center;
    color: var(--white);
    margin-bottom: 32px;

    span {
      font-family: Barlow Condensed;
      margin-right: 18px;
      font-weight: 700;
      font-size: 16px;
      line-height: 19.2px;
      letter-spacing: 2.7px;
      color: #ffffff40;
    }
  }

  img {
    margin: auto;
    margin-bottom: 26px;
  }

  .tabs {
    display: flex;
    justify-content: center;
    gap: 28px;
    padding: 0;
    /* margin-bottom: 31px; */

    li {
      list-style: none;

      a {
        font-family: Barlow Condensed;
        align-items: end;
        font-weight: 400;
        font-size: 14px;
        line-height: 16.8px;
        letter-spacing: 2.36px;
        text-decoration: none;
        color: var(--white);
      }
    }
  }

  .active {
    display: inline-block;
    position: relative;
    padding-bottom: 8px;
    margin-bottom: 20px;
  }

  .active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 36px;
    height: 3px;
    background-color: var(--white);
  }


  h1 {
    font-family: Bellefair;
    font-weight: 400;
    font-size: 56px;
    line-height: 64.18px;
    text-align: center;
    color: var(--white);
  }

  .description {
    font-family: Barlow;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: var(--light);
    padding-bottom: 32px;
    border-bottom: 1px solid #383B4B;
    margin-bottom: 65px;
  }

  .distance {
    font-family: Barlow Condensed;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 2.36px;
    text-align: center;
    color: var(--light);
    margin-bottom: 12px;
  }

  .distance-time {
    font-family: Bellefair;
    font-weight: 400;
    font-size: 28px;
    line-height: 32.09px;
    text-align: center;
    color: var(--white);
    margin-bottom: 32px;
  }

  .travel {
    font-family: Barlow Condensed;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 2.36px;
    text-align: center;
    color: var(--light);
    margin-bottom: 12px;
  }

  .travel-time {
    font-family: Bellefair;
    font-weight: 400;
    font-size: 28px;
    line-height: 32.09px;
    text-align: center;
    color: var(--white);
    margin-bottom: 34px;
  }
}